<section class="main-header--border">

    <header class="container main-header">

        <div class="logo">gq</div>

        <nav class="main-menu">
            <ul class="main-menu__list main-menu__list--first">
                <li><a href="">Все сервисы</a></li>
                <li><a href="">О компании</a></li>
                <li><a href="">Блог</a></li>
                <li><a href="">Контакты</a></li>
            </ul>

            <ul class="main-menu__list main-menu__list--last">
                <li><a href="">Аренда</a></li>
                <li><a href="">Покупка</a></li>
                <li><a href="">Виза EB5</a></li>
                <li><a href="">Роды в Майами</a></li>
                <li><a href="">Информация</a></li>
            </ul>

        </nav>

    </header>


</section>

<footer class="main-footer--line">
    <div class="main-footer container">
        <div class="row">

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">Аренда недвижимости</div>
                    <a href="">Аренда квартиры</a>
                    <a href="">Аренда дома</a>
                    <a href="">Аренда виллы</a>
                    <a href="">Аренда аппартаментов</a>
                </div>
            </div>

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">Аренда авто</div>
                    <a href="">Аренда авто эконом класса</a>
                    <a href="">Аренда авто премиум класса</a>
                    <a href="">Аренда другого транспорта</a>
                    <a href="">Детские кресла и навигаторы бесплатно</a>
                </div>
            </div>

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">Яхты и Самолеты</div>
                    <a href="">Аренда яхт</a>
                    <a href="">Частная навигация</a>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">Продажа недвижимости</div>
                    <a href="">Покупка недвижимости</a>
                    <a href="">Продажа недвижимости</a>
                    <a href="">Ипотека</a>
                    <a href="">Ипотека для иностранных граждан от 4,5%</a>
                    <a href="">Управление недвижимостью</a>
                </div>
            </div>

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">Имиграция и инвестиции</div>
                    <a href="">Консультации по иммиграции</a>
                    <a href="">ВНЖ в 18 Стран Мира</a>
                    <a href="">EB-5 Виза инвестора</a>
                    <a href="">Инвестиции и бизнес в США</a>
                </div>
            </div>

            <div class="col-3">
                <div class="main-footer__links-block">
                    <div class="main-footer__links-block-title">роды в майами</div>
                    <a href="">Доктора</a>
                    <a href="">Госпитали</a>
                    <a href="">Документы</a>
                </div>
            </div>

            <div class="col-3 main-footer__tel align-self-end">
                <div class="tel">
                    <a href="tel:+18503760436">+1 (850) 376-0436</a>
                </div>
            </div>
        </div>

    </div>
</footer>



<section class="main-footer__policy container">
    <div class="row">
        <div class="col-6 policy__adv">
            GQ Concierge предоставляет полный пакет услуг по недвижимости в Майами. Аренда, покупка,
            продажа недвижимости во Флориде Ипотека для иностранных граждан. Новостройки Майами.
        </div>
    </div>

    <div class="row">
        <div class="col-4 policy__policy-content">
            Официальный сайт GQ Concierge. GQ Concierge и логотип GQ Concierge являются торговыми марками ООО «GQ Concierge».
        </div>
        <div class="col-3 policy__policy-content">© Copyright 2019 ООО «GQ Concierge». Все права защищены.</div>
        <div class="col policy__policy-social">
            <a class="social social-fb" href="https://www.facebook.com/">facebook</a>
            <a class="social social-vk" href="https://vk.com">ВКонтакте</a>
        </div>

    </div>
</section>
