<!-- main header -->
<section class="main-header__fluid">

    <header class="container main-header">

            <div class="logo">gq</div>

            <nav class="main-menu">
                <ul class="main-menu__list main-menu__list--first">
                    <li><a href="">Все сервисы</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Блог</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>

                <ul class="main-menu__list main-menu__list--last">
                    <li><a href="">Аренда</a></li>
                    <li><a href="">Покупка</a></li>
                    <li><a href="">Виза EB5</a></li>
                    <li><a href="">Роды в Майами</a></li>
                    <li><a href="">Информация</a></li>
                </ul>

            </nav>


            <div class="tel">
                <a href="tel:+18503760436">+1 (850) 376-0436</a>
            </div>

        </header>


</section>
<!-- end main header -->