*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  outline: 1px solid red;
}

.br-4{
  border-radius: 4px;
}

.br-9{
  border-radius: 9px;
}

/*
.container{
  padding-left: 6.11%;
  padding-right: 6.11%;
}


.container--full{
  padding-left: 0;
  padding-right: 0;
}*/
